<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hopeland.pda.example">


    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".uhf.UHFMain" />
        <activity
            android:name=".ItemMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">

        </activity>
        <activity android:name=".uhf.ClientActivity" />
        <activity
            android:name=".SAED.UI.Activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".uhf.ReadEPCmatchingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>
        <activity android:name=".SAED.UI.Activities.AuthActivity" />

        <activity
            android:name=".uhf.WriteEPCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".uhf.ConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".hf.HFMain"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".hf.ReadISO15693Activity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".hf.ReadISO14443Activity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".hf.ReadMifareActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".scanner.ScannerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".dlt.FreeSendctivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".dlt.MenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".uhf.ReadEPCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>